<div ng-controller="CompanyMainController">
    <div ng-include="'page/project/html/template/company/companyHeader.html'" ></div>
<!--     <div class="container-fluid">
        <div  class="row company-main-div"> -->
        <div class="company-main-div">
           <!--  <div class="col-md-2"> -->
            <div ng-include="'page/project/html/template/company/companySideBar.html'" ></div>
           <!--  </div>
            <div class="col-md-10"> -->
            <div ng-if="currentPage == 'companyBasicInfo'" ng-include="'page/project/html/template/company/companyBasicInfo.html'" ></div>
            <div ng-if="currentPage == 'companyFinanceMng'" ng-include="'page/project/html/template/company/companyFinanceMng.html'" ></div>
            <div ng-if="currentPage == 'companyNewsMng'" ng-include="'page/project/html/template/company/companyNewsMng.html'" ></div>
            <div ng-if="currentPage == 'companyProductMng'" ng-include="'page/project/html/template/company/companyProductMng.html'" "></div>
            <div ng-if="currentPage == 'companyTest'" ng-include="'page/project/html/template/company/companyUserTest.html'" ></div>
            <div ng-if="currentPage == 'companyUserTest'" ng-include="'page/project/html/template/company/companyTest.html'"></div>
          <!--   </div> -->
        </div>
<!--         </div>
        
    </div> -->
    <div ng-include="'page/project/html/template/user/footer.html'"></div>


</div>