<div class="company-product-div container-fluid cmp-box-shadow" ng-controller="companyListController">
	<p></p>
	<!--搜索-->
	<div style="float: right">
		<div style="display: inline-block">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchWord" >
		</div>
		<div style="display: inline-block">
			<button ng-click="setCurrentOption('','',searchWord)" class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找企业</span>
			</button>
		</div>
	</div>
	<br></br>
	<!--分类-->
	<div class="detail-container">
	<div class="ino-nav-list">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="admin-nav-options-div">
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="setCurrentOption(type.name,option,'')">	
				{{option.name}}
			</label>
		</div>
	</div>
    </div>
	</div>


	<!--表格-->
	<div class="row cmp-tableContain-row cmp-box-shadow">
		<table class="table table-striped cmp-table" >
			<thead >
				<tr>
					<th class="col-lg-1">公司简称</th>
					<th class="col-lg-2">公司全称</th>
					<th class="col-lg-1">领域</th>
					<th class="col-lg-2">注册人职位</th>
					<th class="col-lg-1">logo</th>
					<th class="col-lg-1">地址</th>
					<th class="col-lg-2">联系方式</th>
					<th class="col-lg-1">审核状态</th>
					<th class="col-lg-1">查看详情</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="company in companyList | filter: searchWord">
					<td>{{company.shortName}}</td>
    				<td>{{company.longName}}</td>
    				<td>{{company.type | companyTypeFilter}}</td>
    				<td>{{company.position}}</td>
	 				<td><img class="cmp-outline-logo" ng-src="{{company.logo | imageFilter}}"/></td>
    				<td>{{company.address}}</td>
    				<td>{{company.phone}}</td>
					<td>{{company.isPassed | statusFilter}}</td>
    				<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="setCurrentCompany(company)" data-toggle="modal" data-target="#myModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
						</div>
					</td>
  				</tr>
			</tbody>
		</table>
		<!--分页-->
		<div class="cmp-paging">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  paging-action="changePage(page)"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>


	<!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentUser.longName}}
				</h4>
			</div>
			<div class="modal-body">
				<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					基本信息
				</label>
				</div>
				<div class="row cmp-form-row">
				<div class="col-md-7 col-md-offset-1 form-group">
					<form role="form" class="form-horizontal">
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司全称：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司简称：
								{{currentUser.shortName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司地址：
								{{currentUser.address}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								所属领域：
								{{currentUser.type | companyTypeFilter}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								成立时间：
								{{currentUser.regTime}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								法人代表：
								{{currentUser.legalEntity}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								注册资本：
								{{currentUser.regCapital}}
								万
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								注册地址：
								{{currentUser.regAddress}}
							</label>
						</div>
					</form>
					</div>
						<div class="col-md-2 cmp-basic-logo-div">
						<div  class="cmp-logo-thumb cmp-box-shadow">
							<img ng-src="xxx" class="cmp-img-logo"/>	
						<!--<img ng-src="{{currentUser.logo | imageFilter}}" class="cmp-img-logo"/>	-->
						</div>
						</div>
					</div>
			</div>
			<div class="modal-body">
				<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					认证信息
				</label>
				</div>
				<div class="row cmp-form-row">
					<div class="col-md-7 col-md-offset-1 form-group">
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								审核人职位：
								{{currentUser.position}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								审核认证信息：
							</label>
							<img ng-src="xxx"/>
							<!--<img ng-src="{{currentUser.info | imageFilter}}"/>-->
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					公司介绍
				</label>
				</div>
				<div class="row cmp-form-row">
					<div class="col-md-7 col-md-offset-1 form-group">
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司简介：
								{{currentUser.companyDesc}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								产品与优势：
								{{currentUser.productDesc}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								目标与用户：
								{{currentUser.userDesc}}
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div>
					审核：
				<button ng-click="passUser(currentUser._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					通过
				</button>
				<button ng-click="passUser(currentUser._id,'-1')" type="button" class="btn btn-danger" data-dismiss="modal">
					否决
				</button>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div><!-- 模态框（Modal） 结束-->



</div>