<div class="company-product-div container-fluid cmp-box-shadow" ng-controller="companyProductController">
	<p></p>
	<!--搜索-->
	<div style="float: right">
		<div style="display: inline-block">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchWord" >
		</div>
		<div style="display: inline-block">
			<button ng-click="getCompanyproductsList('','',searchWord)" class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找产品</span>
			</button>
		</div>
	</div>
	<br></br>
	<!--分类-->
	<div class="detail-container">
	<div class="ino-nav-list">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="admin-nav-options-div">
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="getCompanyproductsList(type.name,option,'')">	
				{{option.name}}
			</label>
		</div>
	</div>
    </div>
	</div>

	<!--表格-->
	<div class="row cmp-tableContain-row cmp-box-shadow">
		<table class="table table-striped cmp-table" >
			<thead >
				<tr>
					<th class="col-lg-1">缩略图</th>
					<th class="col-lg-2">名称</th>
					<th class="col-lg-1">公司</th>
					<th class="col-lg-1">参数</th>
					<th class="col-lg-1">简介</th>
					<th class="col-lg-1">分类</th>
					<th class="col-lg-1">上线状态</th>
					<th class="col-lg-1">发布日期</th>
					<th class="col-lg-1">上传日期</th>
					<th class="col-lg-1">操作</th>
				</tr>
			</thead>
			<tbody>	
  				<tr ng-repeat="product in productsList">
    				<td ><img class="cmp-outline-logo" ng-src="{{product.images[0]}}"/></td>
					<td>{{product.name}}</td>
					<td>{{product.companyId.longName}}</td>
					<td>{{product.argc}}</td>
					<td>{{product.desc}}</td>
    				<td>{{product.tag | companyTypeFilter}}</td>
					<td>{{product.state | statusFilter3}}</td>
					<td>{{product.releaseDate | dateFilter}}</td>
					<td>{{product.timestamp | dateFilter}}</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="setCurrentProduct(product)" data-toggle="modal" data-target="#myModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
						</div>
					</td>
  				</tr>
			</tbody>
		</table>
		<!--分页-->
		<div class="cmp-paging">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  paging-action="changePage(page)"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>
    
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentProduct.name}}
				</h4>
			</div>
			<div class="modal-body">
				产品参数：{{currentProduct.argc}}
				</br>
				产品描述：{{currentProduct.desc}}
			</div>
			<div class="modal-footer">
				<div>
					是否上线：
				<button ng-click="setProductState(currentProduct._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					上线
				</button>
				<button ng-click="setProductState(currentProduct._id,'0')" type="button" class="btn btn-danger" data-dismiss="modal">
					下线
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>


</div>