<div ng-controller="companyListController">

	<!--分类-->
	<div class="ino-nav-list">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="nav-options-div">
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="setCurrentOption(type.name,option,'')">	
				{{option.name}}
			</label>
		</div>
	</div>
    </div>

	<div class="row first-row">
		<div class="col-lg-4 col-lg-offset-2">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchWord" >
		</div>
		<div class="col-lg-2">
			<button ng-click="setCurrentOption('','',searchWord)" class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找企业</span>
			</button>
		</div>
	</div>
	</br>


	<div>
	<table class="table table-striped table-hover">
		<tr>
    <th>公司简称</th>
    <th>公司全称</th>
    <th>领域</th>
	<th>注册人职位</th>
    <th>logo</th>
    <th>地址</th>
    <th>联系方式</th>
	<th>审核状态</th>
	<th>查看详情</th>
  		</tr>
  		<tr ng-repeat="company in companyList | filter: searchWord">
    <td>{{company.shortName}}</td>
    <td>{{company.longName}}</td>
    <td>{{company.type | companyTypeFilter}}</td>
    <td>{{company.position}}</td>
	 <td><img ng-src="{{company.logo | imageFilter}}"/></td>
    <td>{{company.address}}</td>
    <td>{{company.phone}}</td>
	<td>{{company.isPassed | statusFilter}}</td>
    <td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="setCurrentCompany(company)" data-toggle="modal" data-target="#myModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
						</div>
	</td>
  		</tr>
	</table>
	</div>

	<!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentUser.longName}}
				</h4>
			</div>
			<div class="modal-body">
				<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					基本信息
				</label>
				</div>
				<div class="row cmp-form-row">
				<div class="col-md-7 col-md-offset-1 form-group">
					<form role="form" class="form-horizontal">
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司全称：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司简称：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司地址：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								所属领域：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								成立时间：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								法人代表：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司全称：
								{{currentUser.longName}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								注册资本：
								{{currentUser.longName}}
								万
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								注册地址：
								{{currentUser.longName}}
							</label>
						</div>
					</form>
					</div>
						<div class="col-md-2 cmp-basic-logo-div">
						<div  class="cmp-logo-thumb cmp-box-shadow">
							<img ng-src="xxx" class="cmp-img-logo"/>	
						<!--<img ng-src="{{currentUser.logo | imageFilter}}" class="cmp-img-logo"/>	-->
						</div>
						</div>
					</div>
			</div>
			<div class="modal-body">
				<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					认证信息
				</label>
				</div>
				<div class="row cmp-form-row">
					<div class="col-md-7 col-md-offset-1 form-group">
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								审核人职位：
								{{currentUser.position}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								审核认证信息：
							</label>
							<img ng-src="xxx"/>
							<!--<img ng-src="{{currentUser.info | imageFilter}}"/>-->
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					公司介绍
				</label>
				</div>
				<div class="row cmp-form-row">
					<div class="col-md-7 col-md-offset-1 form-group">
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								公司简介：
								{{currentUser.companyDesc}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								产品与优势：
								{{currentUser.productDesc}}
							</label>
						</div>
						<div class="row cmp-input-row">
							<label class="control-label col-md-10">
								目标与用户：
								{{currentUser.userDesc}}
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div>
					审核：
				<button ng-click="passUser(currentUser._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					通过
				</button>
				<button ng-click="passUser(currentUser._id,'-1')" type="button" class="btn btn-danger" data-dismiss="modal">
					否决
				</button>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>

		<!--分页-->
	<div class="row">
		<div class="col-lg-6 col-lg-offset-6">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  paging-action="changePage(page)"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>


</div>