<div ng-controller="companyProductController">
	
	
	<div class="row">	 

	<div class="col-md-4">
	<button type="button" ng-click="setFilterType('')" class="btn btn-primary">全部</button>
	<button type="button" ng-click="setFilterType('1')" class="btn btn-success">上线</button>	
	<button type="button" ng-click="setFilterType('0')" class="btn btn-danger">下线</button>
	</div><!--审核分类-->

	<div class="col-md-2">
		<div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品分类 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" ng-click="getProductListByTag('1')">汽车制造</a></li>
                    <li><a href="#" ng-click="getProductListByTag('2')">汽车零部件</a></li>
                    <li><a href="#" ng-click="getProductListByTag('3')">汽车销售与服务</a></li>
                    <li><a href="#" ng-click="getProductListByTag('4')">新能源汽车</a></li>
                    <li><a href="#" ng-click="getProductListByTag('5')">车联网</a></li>
                    <li><a href="#" ng-click="getProductListByTag('6')">车用化工品</a></li>
                    <li><a href="#" ng-click="getProductListByTag('7')">汽车金融</a></li>
                    <li><a href="#" ng-click="getProductListByTag('8')">公共交通</a></li>
                    <li><a href="#" ng-click="getProductListByTag('9')">汽车媒体</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div><!--下拉分类-->

	<div style="float: right">
		<form class="navbar-form">
            <input type="search" ng-model="searchWord" class="form-control" placeholder="Search...">
			<button type="button" ng-click="getProductByName(searchWord)" class="btn btn-primary">搜索</button>
    	</form>
		
	</div><!--搜索-->
	</div>

    <!--表格-->
	<div>
	<table class="table table-striped table-hover">
		<tr>
    <th>缩略图</th>
    <th>序号</th>
    <th>产品名称</th>
	<th>来源公司</th>
	<th>分类</th>
	<th>发布日期</th>
    <th>状态</th>
  		</tr>
  		<tr ng-repeat="product in productList | filter: searchWord | filter : {tag : filterType}">
    <td><img ng-src="{{product.images}}"/></td>
	<td>{{product._id}}</td>
    <td><a href="#" ng-click="setCurrentProduct(product)" data-toggle="modal" data-target="#myModal">{{product.name}}</a></td>
    <td>{{product.companyName}}</td>
    <td>{{product.tag}}</td>
	<td>{{product.date}}</td>
    <td>{{product.state}}</td>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentProduct.name}}
				</h4>
			</div>
			<div class="modal-body">
				产品参数：{{currentProduct.argc}}
				</br>
				产品描述：{{currentProduct.argc}}
			</div>
			<div class="modal-footer">
				<div>
					是否上线：
				<button ng-click="setProductState(currentProduct._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					上线
				</button>
				<button ng-click="setProductState(currentProduct._id,'0')" type="button" class="btn btn-danger" data-dismiss="modal">
					下线
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
  		</tr>
	</table>
	</div>

	<!--分页-->
	<div class="row">
		<div class="col-lg-6 col-lg-offset-6">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>


</div>