<div class="company-product-div container-fluid cmp-box-shadow" ng-controller="companyPubReportController">
	<p></p>
	<!--搜索-->
	<div style="float: right">
		<div style="display: inline-block">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchWord" >
		</div>
		<div style="display: inline-block">
			<button ng-click="getCompanyPubReportList('','',searchWord)" class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找专业测评</span>
			</button>
		</div>
	</div>
	<br></br>
	<!--分类-->
	<div class="detail-container">
	<div class="ino-nav-list">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="admin-nav-options-div">
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="getCompanyPubReportList(type.name,option,'')">	
				{{option.name}}
			</label>
		</div>
	</div>
    </div>
	</div>

	<!--表格-->
	<div class="row cmp-tableContain-row cmp-box-shadow">
		<table class="table table-striped cmp-table" >
			<thead >
				<tr>
					<th class="col-lg-1">产品编号</th>
					<th class="col-lg-2">产品名称</th>
					<th class="col-lg-1">测评团队</th>
					<th class="col-lg-1">测评地点</th>
					<th class="col-lg-1">测评日期</th>
					<th class="col-lg-1">公司</th>
					<th class="col-lg-1">状态</th>
					<th class="col-lg-1">操作</th>
				</tr>
			</thead>
			<tbody>		
  				<tr ng-repeat="pubReport in pubReportList">
					<td>{{pubReport.productId._id}}</td>
    				<td>{{pubReport.productId.name}}</td>
					<td>{{pubReport.team}}</td>
    				<td>{{pubReport.site}}</td>
					<td>{{pubReport.date | dateFilter}}</td>
					<td>{{pubReport.companyId.longName}}</td>
					<td>{{pubReport.isOnline | statusFilter3}}</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="setCurrentPubReport(pubReport)" data-toggle="modal" data-target="#myModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
						</div>
					</td>
  				</tr>
			</tbody>
		</table>
		<!--分页-->
		<div class="cmp-paging">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  paging-action="changePage(page)"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>



    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					产品名称：{{currentPubReport.productId.name}}
				</h4>
			</div>
			<div class="modal-body">
				{{currentPubReport.testDesc}}
			</div>
			<div class="modal-footer">
				<div>
					是否上线：
				<button ng-click="setPubReportState(currentPubReport._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					上线
				</button>
				<button ng-click="setPubReportState(currentPubReport._id,'0')" type="button" class="btn btn-danger" data-dismiss="modal">
					下线
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>



</div>