<div class="company-product-div container-fluid cmp-box-shadow" ng-controller="companyNewsController">
	<p></p>
	<!--搜索-->
	<div style="float: right">
		<div style="display: inline-block">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchWord" >
		</div>
		<div style="display: inline-block">
			<button ng-click="getCompanyNewsList('','',searchWord)" class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找资讯</span>
			</button>
		</div>
	</div>
	<br></br>
	<!--分类-->
	<div class="detail-container">
	<div class="ino-nav-list">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="admin-nav-options-div">
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="getCompanyNewsList(type.name,option,'')">	
				{{option.name}}
			</label>
		</div>
	</div>
    </div>
	</div>

	<!--表格-->
	<div class="row cmp-tableContain-row cmp-box-shadow">
		<table class="table table-striped cmp-table" >
			<thead >
				<tr>
					<th class="col-lg-1">缩略图</th>
					<th class="col-lg-2">标题</th>
					<th class="col-lg-1">作者</th>
					<th class="col-lg-1">公司</th>
					<th class="col-lg-1">原创</th>
					<th class="col-lg-1">上线</th>
					<th class="col-lg-1">发布日期</th>
					<th class="col-lg-1">分类</th>
					<th class="col-lg-2">简述</th>
					<th class="col-lg-1">操作</th>
				</tr>
			</thead>
			<tbody>
  				<tr ng-repeat="news in newsList">
    				<td><img class="cmp-outline-logo" ng-src="{{news.pic}}"/></td>
					<td>{{news.title}}</td>
    				<td>{{news.author}}</td>
    				<td>{{news.companyId.longName}}</td>
					<td>{{news.isFirst | statusFilter3}}</td>
    				<td>{{news.isOnline | statusFilter3}}</td>
					<td>{{news.timestamp | dateFilter}}</td>
    				<td>{{news.tag | companyTypeFilter}}</td>
					<td>{{news.desc}}</td>
    				<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="setCurrentNews(news._id)" data-toggle="modal" data-target="#myModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
						</div>
					</td>
  				</tr>
			</tbody>
		</table>
		<!--分页-->
		<div class="cmp-paging">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  paging-action="changePage(page)"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>



    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentNews.title}}
				</h4>
			</div>
			<div class="modal-body">
				<div class="news-body" ng-bind-html="currentNews.wysiwyg">
				</div>       	
			</div>
			<div class="modal-footer">
				<div>
					是否上线：
				<button ng-click="setNewsState(currentNews._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					上线
				</button>
				<button ng-click="setNewsState(currentNews._id,'0')" type="button" class="btn btn-danger" data-dismiss="modal">
					下线
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>


</div>