<div class="company-product-div container-fluid cmp-box-shadow" ng-controller="userListController">
	<p></p>
	<!--搜索-->
	<div style="float: right">
		<div style="display: inline-block">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchWord" >
		</div>
		<div style="display: inline-block">
			<button ng-click="searchUser(searchWord)" class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找用户</span>
			</button>
		</div>
	</div>
	<br></br>
	<!--分类-->
	<div class="detail-container">
	<div class="ino-nav-list">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="admin-nav-options-div">
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="getlist(type.name,option.id)">	
				{{option.name}}
			</label>
		</div>
	</div>
    </div>
	</div>
	

	<!--表格-->
	<div class="row cmp-tableContain-row cmp-box-shadow">
		<table class="table table-striped cmp-table" >
			<thead >
				<tr>
					<th class="col-lg-1">用户名</th>
					<th class="col-lg-1">昵称</th>
					<th class="col-lg-1">身份</th>
					<th class="col-lg-1">联系方式</th>
					<th class="col-lg-1">邮箱</th>
					<th class="col-lg-1">注册日期</th>
					<th class="col-lg-1">证件1</th>
					<th class="col-lg-1">证件2</th>
					<th class="col-lg-1">审核状态</th>
					<th class="col-lg-1">操作</th>
				</tr>
			</thead>
			<tbody>
  				<tr ng-repeat="user in userList">
    				<td>{{user.name}}</td>
    				<td>{{user.nikeName}}</td>
    				<td>{{user.userType | typeFilter}}</td>
    				<td>{{user.phone}}</td>
    				<td>{{user.mail}}</td>
					<td>{{user.timestamp | dateFilter}}</td>
					<td>
						<div class="row">	
								<button class="m-img-btn" ng-click="setCurrentUser(user)" data-toggle="modal" data-target="#idModal1"> 
									<!--<img class="cmp-outline-logo" ng-src="{{user.idImg1 | imageFilter}}"/>-->
									<img ng-src="xxx"/>
								</button>
						</div>
					</td>
					<td>
						<div class="row">
								<button class="m-img-btn" ng-click="setCurrentUser(user)" data-toggle="modal" data-target="#idModal2"> 
									<!--<img class="cmp-outline-logo" ng-src="{{user.idImg2 | imageFilter}}"/>-->
									<img ng-src="xxx"/>
								</button>
						</div>
					</td>
					<td>{{user.isPassed | statusFilter}}</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="setCurrentUser(user)" data-toggle="modal" data-target="#myModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
						</div>
					</td>
  				</tr>
			</tbody>
		</table>
		<!--分页-->
		<div class="cmp-paging">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  paging-action="changePage(page)"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>

	<!-- 图片模态框（Modal） -->
    <div class="modal fade" id="idModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentUser.name}}
				</h4>
			</div>
			<div class="modal-body">
				<img ng-src="xxx"/>
				<!--<img ng-src="{{currentUser.idImg1 | imageFilter}}"/>-->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>

	<!-- 图片模态框（Modal） -->
    <div class="modal fade" id="idModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentUser.name}}
				</h4>
			</div>
			<div class="modal-body">
				<img ng-src="xxx"/>
				<!--<img ng-src="{{currentUser.idImg2 | imageFilter}}"/>-->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>

	<!-- 操作模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{{currentUser.name}}
				</h4>
			</div>
			<div class="modal-body">
				<div>
					审核：
				<button ng-click="passUser(currentUser._id,'1')" type="button" class="btn btn-success" data-dismiss="modal">
					通过
				</button>
				<button ng-click="passUser(currentUser._id,'-1')" type="button" class="btn btn-danger" data-dismiss="modal">
					否决
				</button>
				</div>
				</br>
				</br>
				<div>
					更改权限：
				<button ng-click="updateUserType(currentUser._id,'vc')" type="button" class="btn btn-primary" data-dismiss="modal">
					投资人
				</button>
				<button ng-click="updateUserType(currentUser._id,'wr')" type="button" class="btn btn-primary" data-dismiss="modal">
					专栏作家
				</button>
				<button ng-click="updateUserType(currentUser._id,'forbid')" type="button" class="btn btn-danger" data-dismiss="modal">
					黑名单
				</button>
				</div>
			</div>
			<!--<div class="modal-footer">

			</div>-->
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>



</div>