<div ng-controller="FooterController">
	 <div class="auto-footer">
	 	<img src="page/project/images/web_footer_bg.png">
	 	<div class="container">
	 		<div class="auto-footer-weixin">
	 			<img src="page/project/images/web_footer_code1.jpg">
	 			<p>官方微博</p>
	 		</div>
	 		<div class="auto-footer-weixin">
	 			<img src="page/project/images/web_footer_code2.jpg">
	 			<p>微信公众号</p>
	 		</div>
			<div class="auto-footer-connect">
				<div class="row">
	 				<a href="">关于我们</a>|
	 				<a href="">联系我们</a>|
	 				<a href="">加入我们</a>
	 			</div>
	 			<div class="row">
	 				<p>Copyright © 2016 auto-biz.cn</p>
	 			</div>
	 		</div>
	 	</div>
	 </div>
</div>