<div class="cmp-discover-panel" >
	<div class="row discover-table-row">
		<table class="table table-striped  cmp-discover-table">
			<thead>
				<tr>
					<th class="discover-cmp-th">企业</th>
					<th>领域</th>
					<th>成立时间</th>
					<th style="width: 350px;">业务简介</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="company in cmpCompanys.list">
					<td class="discover-cmp-td">
						<img class="discover-cmp-logo" src="{{company.logo}}">
						<a class="cmp-discover-href" href="/companyInfo/{{company._id}}" target="_blank">{{company.longName}}</a>
					</td>
					<td>
						<label> {{company.type | companyTypeFilter}}</label>
					</td>
					<td>
						<label> {{company.regTimeUnix | date:'yyyy'}}年</label>
					</td>
					<td style="height:40px;text-align: left;">
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{company.shortName}}</label>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="cmp-discover-loadMoreButton" ng-click="loadMoreCompanys()" ng-if="cmpCompanys.currentPage != cmpCompanys.totalPage">点击加载更多</button>
		<p class="cmp-no-more" ng-if="cmpCompanys.currentPage == cmpCompanys.totalPage">没有更多内容了</p>
	</div>
</div>