<div class="cmp-detail-page" ng-controller="CompanyDetailsController">
	<div class="cmp-detail-aboutus">
		<div class="cmp-aboutus-header">
			<div class="cmp-aboutus-header-black">
				
			</div>
			<div class="cmp-aboutus-header-title">
				ABOUT US
			</div>
		</div>
		<div class="cmp-aboutus-content">
			<div class="cmp-aboutus-content-white">
				<div class="cmp-aboutus-content-overview">
						<label class="cmp-aboutus-content-overview-bigen">
							C
						</label>
						<label class="cmp-aboutus-content-overview-cn">
							公司概况
						</label>
						<label class="cmp-aboutus-content-overview-smallen">
							ompany Overview
						</label>
				</div>
			</div>
			<div class="cmp-aboutus-content-redup">
				
			</div>
			<div class="cmp-aboutus-content-reddown">
				
			</div>
			<div class="cmp-aboutus-content-black">
				<div class="cmp-aboutus-content-info">
					<label class="cmp-aboutus-content-info-cmpname">
						{{companyDetail.longName}}
					</label>
					<label class="cmp-aboutus-content-info-tel">
						Telphone : {{companyDetail.phone}}
					</label>
					<label class="cmp-aboutus-content-info-address">
						地址 : {{companyDetail.field}}
					</label>
				</div>
			</div>
		</div>
		<!-- <div class="cmp-aboutus-title">
			ABOUT US
		</div>
		<div class="cmp-aboutus-cmpname">
			{{companyDetail.longName}}
		</div>
		<div class="cmp-aboutus-tel">
			Telphone : {{companyDetail.phone}}
		</div>
		<div class="cmp-aboutus-address">
			地址 : {{companyDetail.field}}
		</div>
		<div class="cmp-aboutus-cmp">
			<label class="cmp-aboutus-cmp-big">
				C
			</label>
			<label class="cmp-aboutus-cmp-small">
				ompany
			</label>
		</div> -->

	</div>
	<div class="cmp-detail-outlines">
		<div class="cmp-outline-left">
			<div class="cmp-outline-left-block1">
				
			</div>
			<div class="cmp-outline-title">
				<div class="cmp-detail-cntitle">
					公司概况
				</div>
				<div class="cmp-detail-titlehr">
					
				</div>
				<div class="cmp-detail-entitle">
					Comapny Overview
				</div>
			</div>
			<div class="cmp-outline-cmpintro">
					{{companyDetail.companyDesc}}
			</div>
			<div class="cmp-outline-hr">
				
			</div>
			<div class="cmp-outline-lookmore">
				<a href="/companyInfo/{{cmpId}}" class="cmp-outline-lookmore-button">
					查看更多
				</a>
			</div>
		</div>
		<div class="cmp-outline-right">
			<div class="cmp-outline-right-black">
				
			</div>
			<div class="cmp-outline-right-red">
				
			</div>
			<div class="cmp-outline-right-gray">
				
			</div>
			<!-- <img class="cmp-outline-right-img" src="/page/project/images/detail_outline.png">
				
			</img> -->
			<div class="cmp-outline-right-block">
				
			</div>
		</div>
	</div>
	<div class="cmp-detail-news">
		<div class="cmp-news-left">
			<img src="/page/project/images/detail_news2.png" class="cmp-news-left-img">
		</div>
		<div class="cmp-news-right">
			<div class="cmp-outline-left-block1">
				
			</div>
			<div class="cmp-outline-title">
				<div class="cmp-detail-cntitle">
					最新资讯
				</div>
				<div class="cmp-detail-titlehr">
					
				</div>
				<div class="cmp-detail-entitle">
					Latest News
				</div>
			</div>
			<a  href="/companyNews/{{cmpNews.list[0]._id}}"  class="cmp-news-content">
				{{cmpNews.list[0].title}}
			</a>
			<a href="/companyInfo/{{cmpId}}/news" class="cmp-news-lookmore">
				查看更多
			</a>
		</div>
	</div>
	<div class="cmp-detail-product">
		<div class="cmp-product-content">
			<div class="cmp-product-block1">
				
			</div>
			<div class="cmp-product-title">
				<div class="cmp-product-cntitle">
					最新产品
				</div>
				<div class="cmp-product-titlehr">
					
				</div>
				<div class="cmp-product-entitle">
					Latest Products
				</div>
			</div>
		</div>
		<a href="/companyInfo/{{cmpId}}/product" class="cmp-product-lookmore">查看更多</a>
	</div>
	<div class="cmp-detail-test">
		<div class="cmp-test-block">
			
		</div>
		
		<img class="cmp-test-img" src="/page/project/images/detail_test2.png">
			
		</img>
		<div class="cmp-test-content">
			<div class="cmp-outline-left-block1">
				
			</div>
			<div class="cmp-outline-title">
				<div class="cmp-detail-cntitle">
					热门测评
				</div>
				<div class="cmp-detail-titlehr">
					
				</div>
				<div class="cmp-detail-entitle">
					Popular Reviews
				</div>
			</div>
			<a class="cmp-test-title" href="/companyProduct/{{cmpTests.list[0].productId._id}}">
				{{cmpTests.list[0].title}}
			</a>
			<a href="/companyInfo/{{cmpId}}/test" class="cmp-test-lookmore">
				查看更多
			</a>
		</div>
	</div>
	<div class="cmp-deail-contactus">
		<div class="cmp-outline-left-block1">
				
		</div>
		<div class="cmp-outline-title">
			<div class="cmp-detail-cntitle">
				联系我们
			</div>
			<div class="cmp-detail-titlehr">
				
			</div>
			<div class="cmp-detail-entitle">
				Contact Us
			</div>
		</div>
		<img src="/page/project/images/detail_contact_us.png" class="cmp-contactus-img">
		<div class="cmp-contactus-content">
			<img src="/page/project/images/contact_logo.png" class="cmp-contactus-content-logo">
			<img src="/page/project/images/contact_tel.png" class="cmp-contactus-content-telimg">
			<p class="cmp-contactus-content-tel">
				+8621 39007315-8015
			</p>
			<img src="/page/project/images/contact_mail.png" class="cmp-contactus-content-mailimg">
			<p class="cmp-contactus-content-mail">
				abclub@xuanzhichuanmei.com
			</p>
		</div>
		<div class="cmp-contactus-block">
			
		</div>
	</div>
</div>