<div class="cmp-create" ng-controller="CompanyCreateController">
	
	<div class="cmp-create-fir">
		<div class="row">
			<h5>企业入驻</h5>
		</div>
		<div class="row">
			<p>立刻入驻：发布资讯，发布产品，发起测评、投融资需求..</p>
		</div>
		<div class="row">
			<div class="cmp-create-register">
				<div class="form-group form-group-sm">
					<div class="row">
						
    					<label class="col-xs-4 control-label" for="username">用户名：</label>
    					<div class="col-xs-8">
     				 		<input class="form-control" type="text" id="username" placeholder="">
    					</div>
 					</div>
 				</div>
				<div class="form-group form-group-sm">
					<div class="row">
						<div class="col-xs-3"></div>
    					<label class="col-xs-3 control-label" for="password">密码：</label>
    					<div class="col-xs-6">
     				 		<input class="form-control" type="text" id="password" placeholder="">
    					</div>
 					</div>
 				</div>
 				<div class="form-group form-group-sm">
 					<div class="row">
						<div class="col-xs-3"></div>
    					<label class="col-xs-3 control-label" for="rpassword">重复密码：</label>
    					<div class="col-xs-6">
     				 		<input class="form-control" type="text" id="rpassword" placeholder="">
    					</div>
 					</div>
 				</div>
			</div>
			<div class="cmp-create-register">
				<div class="row">
					<div class="form-group form-group-sm">
						<div class="col-xs-1"></div>
    					<label class="col-xs-3 control-label" for="username">注册人职位：</label>
    					<div class="col-xs-6">
     				 		<input class="form-control" type="text" id="username" placeholder="用户名">
    					</div>
    					<div class="col-xs-2"></div>
 					</div>
 				</div>
 				<div class="row">
 					<div class="form-group form-group-sm">
						<div class="col-xs-1"></div>
    					<label class="col-xs-3 control-label" for="username">审核认证信息</label>
    					<div class="col-xs-6">
     				 		<input class="form-control" type="text" id="username" placeholder="用户名">
    					</div>
    					<div class="col-xs-2"></div>
 					</div>
 				</div>
 				<div class="row">
 					<label>企业营业支招或相关证明，仅提供认证使用，平台不会暴露您的个人信息</label>
 				</div>
			</div>
		</div>
	</div>
	<div class="cmp-create-sec">
		<div class="row">
			<h5>基本信息</h5>
		</div>
		<div class="row">
			
		</div>
	</div>
	<div class="cmp-create-thi">
		
	</div>
</div>