<div ng-controller="FooterController">
	<div class="auto-footer row">
		<div class="col-xs-4 col-xs-offset-4 auto-footer-connect">
			<div class="row">
				<a href="http://auto-biz.cn/introduce.html#aboutus">关于我们</a>|
				<a href="http://auto-biz.cn/introduce.html#contact">联系我们</a>|
				<a href="http://auto-biz.cn/introduce.html#joinus">加入我们</a>
			</div>
			<div class="row">
				<p>Copyright © 2016 auto-biz.cn 沪ICP备14012487号-1</p>
			</div>	
			<div class="row">
				<p>沪公安网备31011402001293号</p>
			</div>
		</div>
		<div class="col-xs-4 auto-footer-trcode">
			<div class="col-xs-6 col-xs-offset-6">
				<div class="col-xs-6 footer-weibo">
					<img src="/page/project/images/web_footer_code1.jpg">
	 				<p>官方微博</p>
				</div>
	 			<div class="col-xs-6 footer-weixin">
					<img src="/page/project/images/web_footer_code1.jpg">
	 				<p>官方微信</p>
				</div>
	 		</div>
		</div>
	 	<!-- <img src="/page/project/images/web_footer_bg.png">
	 	<div class="container">
	 		<div class="auto-footer-weixin">
	 			<img src="/page/project/images/web_footer_code1.jpg">
	 			<p>官方微博</p>
	 		</div>
	 		<div class="auto-footer-weixin">
	 			<img src="/page/project/images/web_footer_code2.jpg">
	 			<p>微信公众号</p>
	 		</div>
			<div class="auto-footer-connect">
				<div class="row">
	 				<a href="http://auto-biz.cn/introduce.html#aboutus">关于我们</a>|
	 				<a href="http://auto-biz.cn/introduce.html#contact">联系我们</a>|
	 				<a href="http://auto-biz.cn/introduce.html#joinus">加入我们</a>
	 			</div>
	 			<div class="row">
	 				<p>Copyright © 2016 auto-biz.cn</p>
	 			</div>
	 		</div>
	 	</div> -->
	</div>
</div>