<div>
    <div class="cmp-detail">
		<div class="detail-test-container">
        <div class="cmp-reg-cardBlock" ng-repeat="product in cmpProducts.list">
                <div class="cmp-reg-cardImageContainer">
                    <div class="cmp-reg-cardBlockImage"><img style="width: 265px;height: 200px;" ng-src="{{product.images[0]}}"/></div>
                    <div class="cmp-reg-cardBlockImageCover"></div>
                    <div class="cmp-reg-cardCompanyIcon"></div>
                    <div class="cmp-reg-cardCompany">
                        <a href="/companyInfo/{{product.companyId._id}}" target="_blank">{{product.companyId.longName}}</a>
                    </div>
                </div>

                <div class="cmp-reg-cardContent">
                    <div class="cmp-reg-cardTitle">
                        <label><a href="/companyProduct/{{product._id}}" target="_blank">{{product.name}}</a></label> 
                    </div>
                    <div class="cmp-reg-cardDate">
                        <div class="cmp-reg-LargeDate">{{product.timestamp | date:'dd'}}</div>
                        <div class="cmp-reg-cardSmallDate">{{product.timestamp | date:'yyyy/MM'}}</div>
                    </div>
                    <div class="cmp-reg-cardTextBesideDate">
                        {{product.desc}}
                    </div>
                    <div class="row cmp-reg-cardTest">
                        <p class="cmp-reg-userTest">用户测评</p>
                        <p class="cmp-reg-userTest" ng-if="product.privateReport == null || product.privateReport.scoredUserNum == null">：暂未申请</p>
                        <p class="cmp-reg-userTest" ng-if="product.privateReport != null && product.privateReport.scoredUserNum == 0">：{{product.privateReport.state | statusFilter}}</p>
                        <div ng-if="product.privateReport != null && product.privateReport.scoredUserNum > 0" class="cmp-reg-star" star rating-value="product.privateReport.scores | avePointFilter" max="5" readonly=true></div>
                        <p class="cmp-reg-proTest" ng-if="product.publicReport != null"><a href="{{product.publicReport.report}}" target="_blank">专业测评报告</a></p>
                    </div>
                </div>
        </div>
		</div>
        <div class="innnews-commit" >
		<button class="btn btn-danger btn-block btn-sm" ng-if="cmpProducts.currentPage != cmpProducts.totalPage" ng-click="loadMoreProducts()">点击加载更多</button>
        <p ng-if="cmpProducts.currentPage == cmpProducts.totalPage">没有更多内容了</p>
        </div>
    </div>
</div>