	<div >
	<div class="cmp-detail">
		<div class="detail-test-container">
			<div class="cmp-reg-cardBlock" ng-repeat="test in cmpTests.list">
				<div class="cmp-reg-cardImageContainer">
					<div class="cmp-reg-cardBlockImage"><img  ng-src="{{test.images[0]}}"/></div>
					<div class="cmp-reg-cardBlockImageCover"></div>
					<div class="cmp-reg-cardCompanyIcon">   </div>
					<div class="cmp-reg-cardCompany">
						<a href="/companyInfo/{{test.companyId}}" target="_blank">{{test.companyId.longName}}</a>
					</div>
				</div>

				<div class="cmp-reg-cardContent">
					<div class="cmp-reg-cardTitle">{{test.title}} </div>
					<label class="cmp-reg-cardLabel">参与人数</label>
					<div class="cmp-reg-cardValue">{{test.signUserNum}}／{{test.maxUserNum}}</div>
					<label class="cmp-reg-cardLabel">测评类型</label>
					<div class="cmp-reg-cardValue">{{test.type | userTestTypeFilter}}</div>
					<label class="cmp-reg-cardLabel">测评时段</label>
					<div class="cmp-reg-cardSecValue">{{test.dateStart|date:'yyyy/MM/dd'}}-{{test.dateEnd |date:'yyyy/MM/dd'}}</div>
					<label class="cmp-reg-cardLabel">地点</label>
					<div class="cmp-reg-cardSecValue">{{test.address}}</div>
					<button class="cmp-reg-fullWidthRedButton" ng-if="test.dateEnd > timeNow" ng-click="signTest(test)" data-toggle="modal" data-target="#joinTestModal">立即参与</button>
					<label class="cmp-reg-fullWidthWhiteLabel" ng-if="test.dateEnd <= timeNow">已经结束</label>
				</div>
			</div>
		</div>
		<button class="cmp-discover-loadMoreButton " ng-click="loadMoreTests()" ng-if="cmpTests.currentPage != cmpTests.totalPage && currentPage!= '公司概况'">点击加载更多</button>
		<p class="cmp-no-more" ng-if="cmpTests.currentPage == cmpTests.totalPage && currentPage!= '公司概况'">没有更多内容了</p>
	</div>
	<div class="modal fade" id="joinTestModal" aria-hidden="true">
		<div class="modal-dialog cmp-box-shadow">
			<div class="modal-content">
				<div class="modal-head">
					<h4> 测评报名</h4>
				</div>
				<div class="modal-body modal-roll-product" >
					<div class="cmp-carousel-div"  ><carousel image-list="testImgList"></carousel></div>
					
					<!-- <div id="carousel-example-generic" class="carousel cmp-carousel-contain" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic"  ng-class="{'active':testCurrentCarouse == li.num}" ng-repeat="li in testLiList" ng-click="setTestCurrentCarouse(li.num)"></li>
					  </ol>

					  <div class="carousel-inner">
					    <div class="item cmp-carousel-item" ng-class="{'active':testCurrentCarouse == img.num}" ng-repeat="img in testImgList">
					      <img src="{{img.url}}">
					    </div>
					  </div>

					  <a class="left carousel-control" ng-click="testMoveLeft()">
					    <span class="glyphicon glyphicon-chevron-left" ></span>
					  </a>
					  <a class="right carousel-control" ng-click="testMoveRight()">
					    <span class="glyphicon glyphicon-chevron-right" ></span>
					  </a>
					</div> -->
					<div class="join-test-title">
						{{currentTest.title}}
					</div>
					<div class="join-test-cmp">
						<img src="{{currentTest.companyId.logo}}" alt="logo">
						<label>{{currentTest.companyId.longName}}</label>
					</div>
					<div class="join-test-introduce">
						<p>{{currentTest.desc}}<p>
					</div>
					<div class="join-test-config">
						<label class="join-test-config-label control-label">参与人数：</label>
						<label class="join-test-config-value control-label" >{{currentTest.signUserNum}} / {{currentTest.maxUserNum}}</label>
					</div>
					<div class="join-test-config">
						<label class="join-test-config-label control-label">测评时段：</label>
						<label class="join-test-config-value control-label">{{currentTest.dateStart|date:'yyyy/MM/dd'}}-{{currentTest.dateEnd |date:'yyyy/MM/dd'}}</label>
					</div>	
					<div class="join-test-config">
						<label class="join-test-config-label control-label">测评类型：</label>
						<label class="join-test-config-value control-label">{{currentTest.type | userTestTypeFilter}}</label>
					</div>
					<div class="join-test-config">
						<label class="join-test-config-label control-label">手机号码：</label>
						<input class="join-test-config-input form-control" ng-model="currentTest.signTestPhone" > </input>
					</div>
					<div class="join-test-config" ng-if="currentTest.type == 'mail' ">
						<label class="join-test-adjust-label control-label">收件地址：</label>
						<textarea class="join-test-config-text form-control" rows="3" ng-model="currentTest.signTestAddress">
						</textarea> 
					</div>
					<div class="join-test-config" ng-if="currentTest.type == 'local' ">
						<label class="join-test-config-label control-label">测评地址：</label>
						<label class="join-test-config-value control-label">
							{{currentTest.address}}
						</label> 
					</div>
					<div class="row" >
						<div class="col-lg-3 col-lg-offset-2">
							<button class="btn btn-default btn-block cmp-cancel-btn"  data-dismiss="modal">
								取消
							</button>
						</div>
						<div class="col-lg-3 col-lg-offset-1">
							<button class="btn btn-default btn-block cmp-confirm-btn" ng-click="testSignTest(currentTest.signTestPhone,currentTest.signTestAddress)" data-dismiss="modal">
								报名
							</button>
						</div>
					</div>
				</div>

				
			</div>
		</div>

	</div>
	
</div>