<div class="ino-nav-list" ng-controller="InnovationTestController">
	<div class="ino-nav-type-row" ng-repeat="type in navList">
		<label class="nav-type-label">
			{{type.name}}：
		</label>
		<div class="nav-options-div">
			<!-- <label class="nav-option-label" ng-class="{'active':isCurrentOption('') == 'true' }">
				全部
			</label> -->
			<label class="nav-option-label" ng-class="{'active':isCurrentOption(type.name,option.name)}" ng-repeat="option in type.optionList" ng-click="setCurrentOption(type.name,option.name)">	
				{{option.name}}
			</label>
		</div>

	</div>
</div>