<div class="headerImage">
    
</div>
    <div class="blocks">
        <h1>发士大夫撒大范围接欧文非叫我二姐夫发速度泛洪算法诶嘿</h1>
        <div class="label">发布日期</div>
        <div class="timeStamp">2016/12/32</div>
        <div class="label">来源</div>
        <div class="timeStamp">汽车财经网</div>
        <div class="contentArea">
            <div class="newsContent">　在学校创业谷的大力支持下，2016年12月15日晚，我们邀请到我院07级校友， UniCareer公司创始人、CEO余佳，在济人楼312为同学们带来了个人学习成长和创业经验分享。余佳学姐2007年就读我院软件工程专业、后报送复旦大学攻读金融专业研究生，期间到美国普林斯顿大学交换。毕业后在美国摩根士丹利私募股权部担任高级分析师，2014年成立UniCareer(职优你)在线职场教育科技平台。

                　　余佳校友从自己的大学生活讲起，讲述了自己的大学充实的学习生活，分享了自己最初在大公司的锻炼和收获，结合自己亲身体会告诉我们创业之路的艰辛，告诉学弟学妹只有经历足够的磨炼才能在在众多创业者中脱颖而出。

                　　最后，余佳与同学们详细交流了有关学习生活和创业共享方面的问题，使同学们对于学习、创业等方面有了更多的了解。随后，UniCareer公司也表示愿意吸收学院技术优秀的同学来加盟。

                　　本次创业分享活动是11月继“励志青春”创业经验分享系列活动的第二场。我们将根据同学们的需要继续邀请职场及创业校友回来和大家畅谈人生成长经验。
            </div>
            <div class="newsImage"></div>
            <div class="newsContent">　在学校创业谷的大力支持下，2016年12月15日晚，我们邀请到我院07级校友， UniCareer公司创始人、CEO余佳，在济人楼312为同学们带来了个人学习成长和创业经验分享。余佳学姐2007年就读我院软件工程专业、后报送复旦大学攻读金融专业研究生，期间到美国普林斯顿大学交换。毕业后在美国摩根士丹利私募股权部担任高级分析师，2014年成立UniCareer(职优你)在线职场教育科技平台。

                　　余佳校友从自己的大学生活讲起，讲述了自己的大学充实的学习生活，分享了自己最初在大公司的锻炼和收获，结合自己亲身体会告诉我们创业之路的艰辛，告诉学弟学妹只有经历足够的磨炼才能在在众多创业者中脱颖而出。

                　　最后，余佳与同学们详细交流了有关学习生活和创业共享方面的问题，使同学们对于学习、创业等方面有了更多的了解。随后，UniCareer公司也表示愿意吸收学院技术优秀的同学来加盟。

                　　本次创业分享活动是11月继“励志青春”创业经验分享系列活动的第二场。我们将根据同学们的需要继续邀请职场及创业校友回来和大家畅谈人生成长经验。
            </div>
        </div>


    </div>