<div class="cmp-create" ng-controller="InnovationController">
	<div class="detail-container">
		<div class="row cmp-innovation-title">
			<div ng-repeat="invItem in innovationList">
				<a href="javascript:void(0)" ng-click="selectItem(invItem[0])"  ng-class="{'active':currentPage == invItem[0] }">{{invItem[0]}}</a>
			</div>
		</div>
		<div class="row" ng-repeat="invItem in innovationList">
			<div ng-if="currentPage == invItem[0]" ng-include="'page/project/html/template/user/'+invItem[1]+'.html'"></div>
		</div>
	</div>
	<div class="detail-container" ng-repeat="invItem in innovationList">
	<!-- 	<div class="cmp-detail"> -->
			<div ng-if="currentPage == invItem[0] && invItem[2] !='null' " ng-include="'page/project/html/template/user/'+invItem[2]+'.html'"></div>
		<!-- </div> -->
			
	</div>
</div>