<div class="panel panel-default cmp-box-shadow">
		<div class="panel-body ">
            <div>
				<h3>
				    流体力学方向盘
                <label class="user-product-type">
					汽车配件
				</label>
                </h3>
			</div>

            <div>
                <label class="user-product-baseinfo">
					小酱软件科技
				</label>
                <label class="user-product-baseinfo">
					版本：1.1.2
				</label>
                <label class="user-product-baseinfo">
					发布时间：2016/12/1
				</label>
                <label class="user-product-baseinfo">
					型号：112
				</label>
			</div>
		</div>
</div>

<div class="panel panel-default cmp-box-shadow">
		<div class="panel-body ">
           <div>
				<h4>专业测评
                     <label class="user-product-pubReport">
					测评报告
				    </label>
                </h4>
			</div>

            <div>
                <label class="user-product-pubRepinfo">
					测评日期
				</label>
                <label class="user-product-pubRepinfo">
					测评团队
				</label>
                <label class="user-product-pubRepinfo">
					测评地点
				</label>
			</div>
		</div>
</div>

<div class="panel panel-default cmp-box-shadow">
		<div class="panel-body ">
           <div>
				<h4>用户测评</h4>
			</div>

            <div class="ino-nav-list">
	            <div class="ino-nav-type-row">
		            <label class="nav-type-label">
			               综合评分：
		            </label>
		        <div class="admin-nav-options-div">
			        <label class="nav-option-label">	
				       外观：
			        </label>
                    <label class="nav-option-label">	
				       颜色：
			        </label>
		        </div>
            </div>
		</div>
</div>