<div class ="cmp-create" ng-controller="AuthController">
	<div class = "cmp-reg-top"></div>
	<div class="cmp-reg-narrowBlocks">
		<div class="cmp-reg-loginTitle">用户登录</div>
		<div class="cmp-reg-label">用户名</div>
		<input type="text" class="cmp-reg-loginInputBar" ng-model="user.name">
		<div class="cmp-reg-label">密码</div>
		<input type="password" class="cmp-reg-loginInputBar" ng-model="user.password">
		<button class="cmp-reg-fullWidthRedButton" ng-click="clickLoginUser()">登录</button>
		<div class="cmp-reg-cardUserTest" style="float: left;width: 49%;text-align: left"><a href="javascript:void(0)">忘记密码？</a></div>
		<div class="cmp-reg-cardProfessionalTest"  style="float: right;width: 49%;text-align: right"><a href="/registerUser">用户注册</a></div>
	</div>
</div>