<div class="company-product-div container-fluid cmp-box-shadow" ng-controller="CompanyProductMngController" >
	<div class="row first-row">
		<div class="col-lg-4 col-lg-offset-2">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchStr" >
		</div>
		<div class="col-lg-2">
			<button class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找产品</span>
			</button>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-block btn-default cmp-confirm-btn cmp-add-css-btn" data-toggle="modal" data-target="#productModal" ng-click="btnAddProduct()" >
				<span class="cmp-add-icon">+</span>
				<span>添加产品</span>
			</button>
		</div>
	</div>
	<div class="row cmp-tableContain-row cmp-box-shadow">
		<table class="table table-striped cmp-table" >
			<thead >
				<tr>
					<th class="col-lg-2">缩略图</th>
					<th class="col-lg-1">序号</th>
					<th class="col-lg-2">发布日期</th>
					<th class="col-lg-3">产品名称</th>
					<th class="col-lg-2">状态</th>
					<th class="col-lg-2">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in productList">
					<td>
						<img src="{{item.productThumb}} cmp-product-thumb">
					</td>
					<td>
						<span>{{item.productID}}</span>
					</td>
					<td>
						<span> {{item.productDate}}</span>
					</td>
					<td>
						<span> {{item.productName}}</span>
					</td>
					<td>
						<span> {{item.productStatus}}</span>
					</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="btnLookProduct(item)" data-toggle="modal" data-target="#productModal"> 
									<img class="cmp-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click="deleteProduct(item.productID)" data-toggle="modal" data-target="#myDeleteModal"> 
									<img class="cmp-md-logo" src="page/project/images/company/delete.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click= "btnEditProduct(item)" data-toggle="modal" data-target="#productModal"> 
									<img class="cmp-md-logo" src="page/project/images/company/edit.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click = "changeProductStatus(item.productID)"> 
									<img class="cmp-md-logo" src="page/project/images/company/switch.png">
								</button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="cmp-paging">
			<paging
			page="currentPage" 
			page-size="pageSize" 
			total="total"
			show-prev-next="true"
			show-first-last="true"
			paging-action="changePage(page)"
			></paging> 
		</div>
	</div>


	<!-- 弹出框 -->
	<div class="modal fade" id="productModal" aria-hidden="true">
		<div class="modal-dialog modal-lg cmp-box-shadow" >
			<div class="modal-content">
				<div class="modal-head">
					<h4  ng-show = "addModal"> 添加产品</h4>
					<h4 ng-show = "lookModal"> 查看产品</h4>
					<h4  ng-show = "editModal"> 编辑产品</h4>
				</div>
				<div class="modal-body modal-roll-product">
					<div class="row cmp-productModal-row">
						<form role="form" class="form-horizontal form-group cmp-form-group">
							<div class="row" >
								<label class="col-lg-2 control-label">名称:</label>
								<div class="col-lg-5" ng-show="addModal">
									<input class="form-control" type="text" ng-model="addProductName"/>
								</div>
								<div class="col-lg-5" ng-show="lookModal">
									<label class="control-label"> {{tmpProduct.productName}} </label>
								</div>
								<div class="col-lg-5" ng-show="editModal">
									<input class="form-control" type="text" ng-model="tmpProduct.productName"/>
								</div>
							</div>
							<div class="row cmp-product-middle-row" >
								<label class="col-lg-2 control-label" >标签:</label>
								<div class="col-lg-5" ng-show="addModal">
									<select class="form-control" ng-model="addSelectedTags" ng-options="x for x in tagOptions" ></select>
								</div>
								<div class="col-lg-5" ng-show="lookModal">
									<label class="control-label"> {{tmpProduct.selectedTags}} </label>
								</div>
								<div class="col-lg-5" ng-show="editModal">
									<select class="form-control" ng-model="tmpProduct.selectedTags" ng-options="x for x in tagOptions" ></select>
								</div>
							</div>
							<div class="row cmp-product-middle-row" >
								<label class="col-lg-2 control-label" >参数:</label>
								<div class="col-lg-10" ng-show="addModal">
									<input class="form-control" type="text" ng-model="addProductConf"/>
								</div>
								<div class="col-lg-10" ng-show="lookModal">
									<label class="control-label"> {{tmpProduct.productConf}} </label>
								</div>
								<div class="col-lg-10" ng-show="editModal">
									<input class="form-control" type="text" ng-model="tmpProduct.productConf"/>
								</div>
							</div>
							<div class="row cmp-product-middle-row" >
								<label class="col-lg-2 control-label"  >介绍:</label>
								<div class="col-lg-10" ng-show="addModal">
									<textarea class="form-control" rows="3" ng-model="addProductShortCut"></textarea>
								</div>
								<div class="col-lg-10" ng-show="lookModal">
									<label class="control-label"> {{tmpProduct.productShortCut}} </label>
								</div>
								<div class="col-lg-10" ng-show="editModal">
									<textarea class="form-control" rows="3" ng-model="tmpProduct.productShortCut"></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="row cmp-productThumb-row" >
						<div class="row">
							<label class="col-lg-2 control-label" >产品图片:</label>
						</div>
						<div class="row m-thumb-row" ng-show="addModal" >
							<div class="col-lg-3" ng-repeat = "item in thumb" >
								<img src="{{item.file}}">
								<button class="cmp-test-delete-thumb" style="background:url(page/project/images/company/delete_thumb.png);" ng-click="delete_thumb(item)" > </button>
							</div>
							<div class="col-lg-3" ng-model="newThumb" ngf-resize="{width: 200, height: 200, quality: 0.9,centerCrop: true}" ngf-select="upload($file)" >
								<img src="page/project/images/company/add_thumb.jpg" alt="点击添加图片" >
							</div>
						</div>
						<div class="row m-thumb-row" ng-show="lookModal" >
							<div class="col-lg-3" ng-repeat = "item in tmpProduct.productThumbList" >
								<img src="{{item.file}}">
							</div>
						</div>
						<div class="row m-thumb-row" ng-show="editModal" >
							<div class="col-lg-3" ng-repeat = "item in tmpProduct.productThumbList" >
								<img src="{{item.file}}">
								<button class="btn-delete-thumb" style="background:url(imgs/delete_thumb.jpg);" ng-click="delete_thumb(item)" > </button>
							</div>
							<div class="col-lg-3" ng-model="editThumb" ngf-resize="{width: 200, height: 200, quality: 0.9,centerCrop: true}" ngf-select="uploadWhenEdit($file)" >
								<img alt="点击添加图片" src="page/project/images/company/add_thumb.jpg">
							</div>
						</div>
						
					</div>
					<div class="row cmp-product-middle-row" >
						<div class="col-lg-3 col-lg-offset-2">
							<button class="btn btn-default btn-block cmp-cancel-btn" ng-click="cancel(addModal,lookModal,editModal)" data-dismiss="modal">
								取消
							</button>
						</div>
						<div class="col-lg-3 col-lg-offset-1">
							<button class="btn btn-default btn-block cmp-confirm-btn" ng-click="confirm(addModal,lookModal,editModal)" data-dismiss="modal">
								确定
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- 删除弹出框 -->
	<div class="modal fade" id="myDeleteModal" aria-hidden="true" role="dialog" >
		<div class="modal-dialog moadl-sm cmp-box-shadow cmp-sm-modal" >
			<div class="modal-content" >
				<div class="modal-body" >
					<div class="row cmp-modal-row-delete" >
						<img class="cmp-warn-img" src="page/project/images/company/warn.png">
						<span>确定要删除吗?</span>
					</div>
					<div class="row cmp-modal-row-control">
						<button class="col-lg-3 col-lg-offset-2 btn btn-default cmp-cancel-btn" ng-click="cancelDelete()" data-dismiss="modal" >
							取消
						</button>
						<button class="col-lg-3 col-lg-offset-2 btn btn-default cmp-confirm-btn" ng-click="confirmDelete()" data-dismiss="modal">
							确认
						</button>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>