<div class="company-test-div container-fluid" ng-controller="CompanyTestController" >
	<div class="row first-row">
		<div class="col-lg-4 col-lg-offset-2">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchStr" >
		</div>
		<div class="col-lg-2">
			<button class="btn btn-block m-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				查找专业测评
			</button>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-block m-btn" data-toggle="modal" data-target="#TestModal" ng-click="setModalStatus('addModal')" >
				<span class="cmp-add-icon">+</span>添加专业测评
			</button>
		</div>
	</div>
	<div class="row cmp-tableContain-row">
		<table class="table table-striped cmp-table">
			<thead >
				<tr>
					<th class="col-lg-1">产品编号</th>
					<th class="col-lg-2">产品名称</th>
					<th class="col-lg-1">测评日期</th>
					<th class="col-lg-3">测评团队</th>
					<th class="col-lg-3">测评地点</th>
					<th class="col-lg-2">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in testList">
					<td>
						<span>{{item.testProductID}}</span>
					</td>
					<td>
						<span>{{item.testProductName}}</span>
					</td>
					<td>
						<span> {{item.testDate}}</span>
					</td>
					<td>
						<span> {{item.testTeamName}}</span>
					</td>
					<td>
						<span> {{item.testLocation}}</span>
					</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="btnLookTest(item)" data-toggle="modal" data-target="#TestModal"> 
									<img class="img-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click="btnDeleteTest(item)" data-toggle="modal" data-target="#myDeleteModal"> 
									<img class="img-md-logo" src="page/project/images/company/delete.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click= "btnEditTest(item)" data-toggle="modal" data-target="#participantModal"> 
									<img class="img-md-logo" src="page/project/images/company/edit.png">
								</button>
							</div>
						</div>
					</td>


				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-6">
				<paging
				  page="currentPage" 
				  page-size="pageSize" 
				  total="total"
				  show-prev-next="true"
				  show-first-last="true"
				  >
				</paging> 
			</div>
		</div>
	</div>




	<!-- 删除的弹出框 -->
	<div class="modal fade" id="myDeleteModal" aria-hidden="true" role="dialog" >
		<div class="modal-dialog moadl-sm" >
			<div class="modal-content" >
				<div class="modal-body" >
					<div class="row m-row-delete"  id="m-row-delete">
						<!-- <img src="imgs/add_thumb.jpg"> -->
						<span>确定要删除吗</span>
					</div>
					<button class="btn m-btn-cancel" ng-click="cancelDelete()" id="m-btn-cancel" data-dismiss="modal" >
						取消
					</button>
					<button class="btn " id="m-btn-sure" ng-click="confirmDelete()" data-dismiss="modal">
						确认
					</button>
				</div>


			</div>
		</div>
	</div>
	<!-- 删除的弹出框 -->


	<!-- 添加、查看、编辑的弹出框 -->
	<div class="modal fade" id="TestModal">
		<div class="modal-dialog modal-md" >
			<div class="modal-content" >
				<div class="modal-body user-test-modal" >
					<div class="row row-head" >
						<span ng-show="modalStatus == 'addModal'"> 发布用户测评</span>
						<span ng-show="modalStatus == 'lookModal'"> 查看用户测评</span>
					</div>
					<div class="row" >
						<form role="form" class="form-horizontal form-lg">
							<div class="row">
								<label class="col-lg-3 control-label" >测评产品:</label>
								<div class="col-lg-9" ng-show="modalStatus == 'addModal'">
									<select class="form-control" type="text" ng-model="addTestProductName" ng-options="productName for productName in testProductNameList"/>
								</div>
								<div class="col-lg-9" ng-show="lmodalStatus == 'lookModal'">
									<span class="m-span"> {{tmpTest.testProductName}} </span>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-3 control-label" >测评团队:</label>
								<div class="col-lg-9" ng-show="modalStatus == 'addModal'">
									<input class="form-control" type="text" ng-model="addTestTeam"/>
								</div>
								<div class="col-lg-9" ng-show="lmodalStatus == 'lookModal'">
									<span class="m-span"> {{tmpTest.testName}} </span>
								</div>
							</div>
							<div class="row" >
								<label class="col-lg-3 control-label" >测评地址:</label>
								<div class="col-lg-9" ng-show="modalStatus == 'addModal'">
									<textarea class="form-control" rows="3" ng-model="addTestAddress"></textarea>
								</div>
								<div class="col-lg-9" ng-show="modalStatus == 'lookModal'">
									<span class="m-span"> {{tmpTest.testAddress}} </span>
								</div>
							</div>
							<div class="row" >
								<label class="col-lg-3 control-label"  >测评时间:</label>
								<div class="col-lg-9" ng-show="modalStatus == 'addModal'">
									<input class="form-control" type="text" ng-model="addTestDate"/>
								</div>
								<div class="col-lg-9" ng-show="lmodalStatus == 'lookModal'">
									<span class="m-span"> {{tmpTest.testDate}} </span>
								</div>
							</div>
							<div class="row" >
								<label class="col-lg-3 control-label"  >测评报告:</label>
								<div class="col-lg-6" ng-show="modalStatus == 'addModal'">
									<input class="form-control" type="text" ng-model="addTestReportName"/>
								</div>
								<div class="col-lg-3" ng-show="modalStatus == 'addModal'">
									<button class="btn btn-block">点击上传报告</button>
								</div>
								<div class="col-lg-9" ng-show="modalStatus == 'lookModal'">		
									<span class="m-span"> {{tmpTest.testReportName}} </span>
								</div>
							</div>
						</form>
					</div>
					<div class="row" >
						<div class="col-lg-2 col-lg-offset-4">
							<button class="btn btn-block" id="btn-productModal-cancel" ng-click="cancel(addModal,lookModal,editModal)" data-dismiss="modal">
								取消
							</button>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-block" id="btn-productModal-sure" ng-click="confirm(addModal,lookModal,editModal)" data-dismiss="modal">
								确定
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- 添加、查看的弹出框 -->

	<!-- 新加标签的弹出框 -->
	<div class="modal fade" id="newTagModal">
		<div class="modal-dialog modal-sm" >
			<div class="modal-content" >
				<div class="modal-header">
					<span>请输入你想要评分的参数</span>
				</div>
				<div class="modal-body" >
					<input type="text" ng-model="tmpTagName">
				</div>
				<div class="modal-footer">
					<button class="btn" ng-click="cancelNewTag()" data-dismiss="modal" >
							取消
						</button>
						<button class="btn " ng-click="confirmNewTag()" data-dismiss="modal">
							确认
						</button>
				</div>
			</div>
			
		</div>	
	</div>
	<!-- 新加标签的弹出框 -->

</div>