<div>
	 <nav class="navbar cmp-nav-header" role = "navigation"  >
	 	<div class="navbar-header cmp-navbar-header" >
			<img class="cmp-autobiz-logo" src="/page/project/images/web_header_logo.png">

	 	</div>
	 	<div class="navbar-header cmp-navbar-backend" >
	 		<p class="cmp-backend-p" >企业后台管理系统</p>
	 	</div>
	 	<div class="nav navbar-right navbar-right-cmpname" >
	 		<p class="navbar-cmpname-p" >{{companyName}}</p>
	 	</div>
	 	<div class="nav navbar-right cmp-nav-logo" >
	 		<img class="cmp-nav-cmplogo" src="{{companyLogo}}">
	 	</div>
	 </nav>
</div>
