<div class="company-userTest-div container-fluid cmp-box-shadow" ng-controller="CompanyUserTestController" >
	<div class="row first-row">
		<div class="col-lg-4 col-lg-offset-2">
			<input class="form-control form-control-lg cmp-search-input" type="text" ng-model="searchStr" >
		</div>
		<div class="col-lg-2">
			<button class="btn btn-block btn-default cmp-confirm-btn cmp-find-btn">
				<img class="img-sm-logo" src="page/project/images/company/search.png">
				<span>查找用户测评</span>
			</button>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-block btn-default cmp-confirm-btn cmp-add-css-btn" data-toggle="modal" data-target="#userTestModal" ng-click="setModalStatus('addModal')" >
				<span class="cmp-add-icon">+</span>
				<span>添加用户测评</span>
			</button>
		</div>
	</div>
	<div class="row cmp-tableContain-row">
		<table class="table table-striped cmp-table">
			<thead >
				<tr>
					<th class="col-lg-1">测评编号</th>
					<th class="col-lg-1">测评名称</th>
					<th class="col-lg-2">测试产品名称</th>
					<th class="col-lg-2">测评日期</th>
					<th class="col-lg-1">测评类型</th>
					<th class="col-lg-1">状态</th>
					<th class="col-lg-2">人数信息</th>
					<th class="col-lg-2">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in userTestList">
					<td>
						<span>{{item.userTestID}}</span>
					</td>
					<td>
						<span>{{item.userTestName}}</span>
					</td>
					<td>
						<span> {{item.userTestProduct}}</span>
					</td>
					<td>
						<span> {{item.userTestDate}}</span>
					</td>
					<td>
						<span> {{item.userTestType}}</span>
					</td>
					<td>
						<span> {{item.userTestStatus}}</span>
					</td>
					<td>
						<div class="row cmp-test-peopleConf">
							<div class="col-lg-8 div-small-left">
								<span class="span-small-left">人数上限：</span>
							</div>
							<div class="col-lg-4 div-small-right">
								<span>{{item.numberLimit}}</span>
							</div>
							<div class="col-lg-8 div-small-left" class="span-small-left">
								<span class="span-small-left">报名人数：</span>
							</div>
							<div class="col-lg-4 div-small-right">
								<span>{{item.numberSign}}</span>
							</div>
							<div class="col-lg-8 div-small-left" >
								<span >审核通过人数：</span>
							</div>
							<div class="col-lg-4 div-small-right">
								<span>{{item.numberPass}}</span>
							</div>
						</div>
					</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-lg-offset-2">
								<button class="m-img-btn" ng-click="btnLookUserTest(item)" data-toggle="modal" data-target="#userTestModal"> 
									<img class="cmp-md-logo" src="page/project/images/company/view.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click="btndeleteUserTest(item)" data-toggle="modal" data-target="#myDeleteModal"> 
									<img class="cmp-md-logo" src="page/project/images/company/delete.png">
								</button>
							</div>
							<div class="col-lg-2">
								<button class="m-img-btn" ng-click= "btnShowParticipant(item)" data-toggle="modal" data-target="#participantModal"> 
									<img class="cmp-md-logo" src="page/project/images/company/users.png">
								</button>
							</div>
						</div>
					</td>


				</tr>
			</tbody>
		</table>
		<div class="cmp-paging">
			<paging
			  page="currentPage" 
			  page-size="pageSize" 
			  total="total"
			  show-prev-next="true"
			  show-first-last="true"
			  >
			</paging> 
		</div>
	</div>




	<!-- 删除的弹出框 -->
	<div class="modal fade" id="myDeleteModal" aria-hidden="true" role="dialog" >
		<div class="modal-dialog moadl-sm cmp-box-shadow cmp-sm-modal" >
			<div class="modal-content" >
				<div class="modal-body" >
					<div class="row cmp-modal-row-delete" >
						<img class="cmp-warn-img" src="page/project/images/company/warn.png">
						<span>确定要删除吗?</span>
					</div>
					<div class="row cmp-modal-row-control">
						<button class="col-lg-2 col-lg-offset-2 btn btn-default cmp-cancel-btn" ng-click="cancelDelete()" data-dismiss="modal" >
							取消
						</button>
						<button class="col-lg-2 col-lg-offset-2 btn btn-default cmp-confirm-btn" ng-click="confirmDelete()" data-dismiss="modal">
							确认
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 删除的弹出框 -->

	<!-- 查看参与的弹出框 -->
	<div class="modal fade" id="participantModal">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content" >
				<div class="modal-body" >
					<div ng-include="'page/project/html/template/company/companyUserTestTab.html'"></div>
				</div>
			</div>
		</div>	
	</div>
	<!-- 查看参与的弹出框 -->

	<!-- 添加、查看的弹出框 -->
	<div class="modal fade" id="userTestModal">
		<div class="modal-dialog modal-md " >
			<div class="modal-content" >
				<div class="modal-head">
					<h4 ng-show = "modalStatus == 'addModal'"> 发布用户测评</h4>
					<h4 ng-show = "modalStatus == 'lookModal'"> 查看用户测评</h4>
				</div>
				<div class="modal-body cmp-test-modal cmp-modal-roll-test" >
					<div class="row" >
						<form role="form" class="form-horizontal form-lg cmp-form-group">
							<div class="row">
								<label class="col-lg-2 control-label" >测评产品:</label>
								<div class="col-lg-10" ng-show="modalStatus == 'addModal'">
									<select class="form-control" type="text" ng-model="addUserTestProductName" ng-options="productName for productName in userTestProductNameList"/>
								</div>
								<div class="col-lg-10" ng-show="modalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.userTestProductName}} </label>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-2 control-label" >测评名称:</label>
								<div class="col-lg-10" ng-show="modalStatus == 'addModal'">
									<input class="form-control" type="text" ng-model="addUserTestName"/>
								</div>
								<div class="col-lg-10" ng-show="lmodalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.userTestName}} </label>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-2 control-label" >测评时段:</label>
								<div class="col-lg-10" ng-show="modalStatus == 'addModal'">
									<input class="form-control" type="text" ng-model="addUserTestTime"/>
								</div>
								<div class="col-lg-10" ng-show="modalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.userTestTime}} </label>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-2 control-label" >测评人数:</label>
								<div class="col-lg-3" ng-show="modalStatus == 'addModal'">
									<input class="form-control" type="text" ng-model="addUserTestPeople"/>
								</div>
								<div class="col-lg-3" ng-show="modalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.userTestPeople}} </label>
								</div>
							</div>
							<div class="row" >
								<label class="col-lg-2 control-label"  >简&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp介:</label>
								<div class="col-lg-10" ng-show="modalStatus == 'addModal'">
									<textarea class="form-control" rows="3" ng-model="addUserTestShortCut"></textarea>
								</div>
								<div class="col-lg-10" ng-show="modalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.userTestShortCut}} </label>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-2 control-label"  >测评类型:</label>
								<div class="col-lg-2">
									<label class="cmp-radio">
										<input  type="radio" ng-value="fieldVisit" ng-model="addState" name="selectState">实地
									</label>
								</div>
								<div class="col-lg-2">
									<label class="cmp-radio">
										<input  type="radio" ng-value="byMail" ng-model="addState" name="selectState">邮寄
									</label>
								</div>
								<div class="col-lg-2" ng-show="modalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.useTestState}} </label>
								</div>
							</div>
							<div class="row" >
								<label class="col-lg-2 control-label"  >测评地址:</label>
								<div class="col-lg-10" ng-show="modalStatus == 'addModal'">
									<textarea class="form-control" rows="3" ng-model="addUserTestAddress"></textarea>
								</div>
								<div class="col-lg-10" ng-show="modalStatus == 'lookModal'">
									<label class="control-label"> {{tmpUserTest.userTestAddress}} </label>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-2 control-label"  >评分参数:</label>
								<div class="col-lg-10" ng-show="modalStatus == 'addModal'">
									<div class="m-div-tag" ng-repeat="tag in addTagList" >
										<span>{{tag}}</span>
										<button ng-click="deleteTag(tag)">x</button>
									</div>
									<div class="cmp-test-tag-div">
										<button class="btn btn-default cmp-test-add-btn" ng-click="newTag()" data-toggle="modal" data-target="#newTagModal"><span>+<span></button>
									</div>				
								</div>
							</div>
							<div class="row" >
								<div class="row cmp-usertest-img-row">
									<label class="col-lg-3 control-label"  >相关图片:</label>
								</div>
								<div class="row m-thumb-row" ng-show="modalStatus == 'addModal'" >
									<div class="col-lg-4" ng-repeat = "item in thumbList" >
										<img src="{{item.file}}">
										<button class="btn-delete-thumb" style="background:url(page/project/images/company/delete_thumb.jpg);" ng-click="delete_thumb(item)" > </button>
									</div>
									<div class="col-lg-4" ng-model="newThumb" ngf-resize="{width: 200, height: 200, quality: 0.9,centerCrop: true}" ngf-select="upload($file)" >
										<img src="page/project/images/company/add_thumb.jpg" alt="点击添加图片" >
									</div>
								</div>
								<div class="row m-thumb-row" ng-show="modalStatus == 'lookModal'" >
									<div class="col-lg-4" ng-repeat = "item in tmpProduct.productThumbList" >
										<img src="{{item.file}}">
									</div>
								</div>							
							</div>
						</form>
					</div>
					<div class="row" >
						<div class="col-lg-3 col-lg-offset-2">
							<button class="btn btn-block" id="btn-productModal-cancel" ng-click="cancel(addModal,lookModal,editModal)" data-dismiss="modal">
								取消
							</button>
						</div>
						<div class="col-lg-3 col-lg-offset-1">
							<button class="btn btn-block" id="btn-productModal-sure" ng-click="confirm(addModal,lookModal,editModal)" data-dismiss="modal">
								确定
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- 添加、查看的弹出框 -->

	<!-- 新加标签的弹出框 -->
	<div class="modal fade" id="newTagModal">
		<div class="modal-dialog modal-sm" >
			<div class="modal-content" >
				<div class="modal-head">
					<h4>请输入你想要评分的参数</h4>
				</div>
				<div class="modal-body" >
					<input type="text" ng-model="tmpTagName">
				</div>
				<div class="modal-footer">
					<button class="btn btn-default btn-block cmp-cancel-btn" ng-click="cancelNewTag()" data-dismiss="modal" >
							取消
						</button>
						<button class="btn btn-default btn-block cmp-confirm-btn" ng-click="confirmNewTag()" data-dismiss="modal">
							确认
						</button>
				</div>
			</div>
			
		</div>	
	</div>
	<!-- 新加标签的弹出框 -->

</div>