<div class="company-finance-div container-fluid" ng-controller="CompanyFinanceMngController" ng-init="showAddPanel=false;financeItem.hideEdit=true;" >
	<div class="panel panel-default" >
		<button class="btn btn-block " id="m-btn-add-finance" ng-click = "addNewFinance()">添加财务数据</button>
	</div>
	<div class="panel panel-default" ng-show = "showAddPanel==true" ng-init="invalidYear=false;invalidWinMoney=false;">
		<form role="form-lg" class="form-horizontal" name="myForm">
			<div class="row cmp-finance-first-row">
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group">
					<label class="col-lg-4 control-label" >年度 :</label>
					<div class="col-lg-7">
						<input class="form-control" type="text"  precision="2"  ng-model="year" ensure-unique="unique-year" >
						<span class="error" ng-show="invalidYear==true">年份重复</span> 
					</div>
				</div>
				<div class="col-lg-5 form-group">
					<label class="col-lg-4 control-label" >市盈率:</label>
					<div class="col-lg-7">
						<input class="form-control" type="" ng-model="winRate"/>
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group">
					<label class="col-lg-4 control-label"  >营业收入:</label>
					<div class="col-lg-7">
						<input class="form-control" type="" ng-model="winMoney" name="mWinMoney"/>
						<span class="m-span-1"> 万</span>
						<span class="m-span-2">*</span>
						<span class="m-span-error" ng-show="invalidWinMoney==true">请输入营业收入</span>
					</div>
				</div>
				<div class="col-lg-5 form-group" >
					<label class="col-lg-4 control-label" >营业收入增长率:</label>
					<div class="col-lg-7" >
						<input class="form-control" type="" ng-model="winMoneyRate" />
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>	
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group">
					<label class="col-lg-4 control-label"  >总资产:</label>
					<div class="col-lg-7">
						<input class="form-control" type="" ng-model="totalProperty">
						<span class="m-span-1"> 万</span>
					</div>
				</div>
				<div class="col-lg-5 form-group" >
					<label class="col-lg-4 control-label" >净资产:</label>
					<div class="col-lg-7" >
						<input class="form-control" type="" ng-model="trueProperty" >
						<span class="m-span-1"> 万</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group">
					<label class="col-lg-4 control-label"  >毛利率:</label>
					<div class="col-lg-7">
						<input class="form-control" type="" ng-model="grossProfitRate">
						<span class="m-span-1"> %</span>
					</div>
				</div>
				<div class="col-lg-5 form-group" >
					<label class="col-lg-4 control-label" >净利率:</label>
					<div class="col-lg-7" >
						<input class="form-control" type="" ng-model="netProfitRate" >
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group">
					<label class="col-lg-4 control-label"  >资产负债率:</label>
					<div class="col-lg-7">
						<input class="form-control" type="" ng-model="assetLiabilityRatio">
						<span class="m-span-1"> 万</span>
					</div>
				</div>
				<div class="col-lg-5 form-group" >
					<label class="col-lg-4 control-label" >资产收益率:</label>
					<div class="col-lg-7" >
						<input class="form-control" type="" ng-model="returnOnAssets" >
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-last-row">
				<div class="col-lg-4 col-lg-offset-1">
					<button class="btn btn-block cmp-finance-btn-yes" type="submit" ng-click ="addFinance()" >确认</button>
				</div>
				<div class="col-lg-4 col-lg-offset-1">
					<button class="btn btn-block" data-toggle="modal" data-target="#myModal">取消</button>
				</div>
			</div>
		</form>

		<!-- 弹出框 -->
		<div class="modal fade" id="myModal" aria-hidden="true" role="dialog" >
			<div class="modal-dialog moadl-sm" >
				<div class="modal-content" >
					<div class="modal-body" >
						<div class="row m-row-delete"  id="m-row-delete">
							<img src="">
							<span>确定要删除吗</span>
						</div>
						<button class="btn m-btn-cancel" id="m-btn-cancel" data-dismiss="modal" >
							取消
						</button>
						<button class="btn " id="m-btn-sure" ng-click="cancelAdd()  " data-dismiss="modal">
							确认
						</button>
					</div>


				</div>
			</div>
		</div>

	</div>


	<!-- 过往财务信息 -->
	<div class="panel panel-default"  ng-repeat="financeItem in financeList">
		<form role="form-lg" class="form-horizontal">
			<div class="row cmp-finance-row" >
				<div class="col-lg-2 cmp-ribbon-div">
					<a class="ui red ribbon label">{{financeItem.year}}</a>
				</div>
				<div class="col-lg-1 col-lg-offset-8">
					<div class="row">
						<button class="m-img-btn" ng-show="financeItem.hideEdit" ng-click="editPastFinance(financeItem.year)">
							<img src="page/project/images/company/edit.png" class="img-md-logo">
						</button>
						
						<button class="m-img-btn"  ng-show="financeItem.hideEdit"  ng-click = deletePastFinance(financeItem.year)>
							<img src="page/project/images/company/delete.png" class="img-md-logo">
						</button>
						
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row">
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group " >
					<label class="col-lg-4 control-label"  >市盈率:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.winRate}} </span>
						<span class="m-span-3"> %</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.winRate"  />
						<span class="m-span-1"> %</span>
					</div>
				</div>
				<div class="col-lg-5 form-group " >
					<label class="col-lg-4 control-label" >营业收入增长率:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.winMoneyRate}} </span>
						<span class="m-span-3"> %</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.winMoneyRate" />
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group " >
					<label class="col-lg-4 control-label"  >营业收入:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.winMoney}} </span>
						<span class="m-span-3"> 万</span>
						<span class="m-span-4"> *</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.winMoney" />
						<span class="m-span-1"> 万</span>
						<span class="m-span-2">*</span>
						<span class="m-span-error" ng-show="invalidWinMoney==true">请输入营业收入</span>
					</div>
				</div>
				<div class="col-lg-5 form-group " >
					<label class="col-lg-4 control-label " >净资产:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.trueProperty}} </span>
						<span class="m-span-3"> 万</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.trueProperty" >
						<span class="m-span-1"> 万</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group " >
					<label class="col-lg-4 control-label " >总资产:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.totalProperty}} </span>
						<span class="m-span-3"> 万</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.totalProperty">
						<span class="m-span-1"> 万</span>
					</div>
				</div>
				<div class="col-lg-5 form-group " >
					<label class="col-lg-4 control-label " >净利率:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.netProfitRate}} </span>
						<span class="m-span-3"> %</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.netProfitRate" >
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-row" >
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group " >
					<label class="col-lg-4 control-label"  >毛利率:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.grossProfitRate}} </span>
						<span class="m-span-3"> %</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.grossProfitRate">
						<span class="m-span-1"> %</span>
					</div>
				</div>
				<div class="col-lg-5 form-group " >
					<label class="col-lg-4 control-label " >资产收益率:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.returnOnAssets}} </span>
						<span class="m-span-3"> %</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.returnOnAssets" >
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row cmp-finance-last-row">
				<div class="col-lg-1"></div>
				<div class="col-lg-5  form-group " >
					<label class="col-lg-4 control-label"  >资产负债率:</label>
					<div class="col-lg-7 m-div-noEdit" ng-show="financeItem.hideEdit">
						<span class="m-span"> {{financeItem.assetLiabilityRatio}} </span>
						<span class="m-span-3"> %</span>
					</div>
					<div class="col-lg-7" ng-show="!financeItem.hideEdit">
						<input class="form-control" type="" ng-model="financeItem.returnOnAssets" >
						<span class="m-span-1"> %</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-lg-offset-3">
					<button class="btn btn-block m-btn-yes"  ng-show="!financeItem.hideEdit" ng-click="savePastFinance(financeItem.year)">
						保存
					</button>
					
				</div>
				<div class="col-lg-2 col-lg-offset-1">
					<button class="btn m-btn-no btn-block" ng-show="!financeItem.hideEdit" ng-click="cancelEditPastFinance(financeItem.year)">
						取消
					</button>
				</div>
				
			</div>
		</form>
	</div>

</div>
</div>