<div>
	<div class="row">
		<div class="col-md-2" >
			<button  class="btn btn-block " ng-class="{true:'tab-select',false:'tab-unselect'}[currentTab == 'testedUser']" ng-click="toTab('testedUser')"> 已测评用户</button>
		</div>
		<div class="col-md-2" >
			<button class="btn btn-block" ng-class="{true:'tab-select',false:'tab-unselect'}[currentTab == 'testingUser']" ng-click="toTab('testingUser')"> 未测评用户</button>
		</div>
		<div class="col-md-2" >
			<button class="btn btn-block" ng-class="{true:'tab-select',false:'tab-unselect'}[currentTab == 'passedUser']" ng-click="toTab('passedUser')"> 报名通过用户</button>
		</div>
		<div class="col-md-2" >
			<button class="btn btn-block" ng-class="{true:'tab-select',false:'tab-unselect'}[currentTab == 'signUser']" ng-click="toTab('signUser')"> 报名审核中用户</button>
		</div>	
		<button type="button" class="close cmp-testtab-close" data-dismiss="modal"><span aria-hidden="true">x</span></button>
	</div>
	<div class="row">
		<div ng-show="currentTab == 'testedUser'">
			<table class="table table-striped cmp-table cmp-modal-roll-usertesttab">
				<thead>
					<tr>
						<th class="col-lg-2">用户名</th>
						<th class="col-lg-2">评测时间</th>
						<th class="col-lg-5">评测内容</th>
						<th class="col-lg-3">打分</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in testedList">
						<td>
							<span> {{item.passUser.userId[0].name}}</span>
						</td>
						<td>
							<span> {{item.passUser.comment.timestamp | date:'yyyy/MM/dd'}}</span>
						</td>
						<td>
							<span> {{item.passUser.comment.content}}</span>
						</td>
						<td>
							<div class="row" ng-repeat="argc in nowUserTest.argc">
								<div class="col-lg-5">
									<span> {{argc}}:</span>
								</div>
								<div class="col-lg-7">
									<div star rating-value="item.passUser.comment.score[$index]" max="max" on-hover="onHover" on-leave="onLeave" readonly="true">
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="currentTab=='testingUser'">
			<table class="table table-striped cmp-table cmp-modal-roll-usertesttab">
				<thead>
					<tr>
						<th class="col-lg-2">用户名</th>
						<th class="col-lg-2">报名时间</th>
						<th class="col-lg-4">邮寄地址</th>
						<th class="col-lg-2">评测内容</th>
						<th class="col-lg-2">打分</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in testingList">
						<td>
							<span> {{item.passUser.userId[0].name}}</span>
						</td>
						<td>
							<span> {{item.passUser.registerTime}}</span>
						</td>
						<td>
							<span> {{item.passUser.mailAddress}}</span>
						</td>
						<td>
							<span> 暂无</span>
						</td>
						<td>
							<span> 暂无</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show = "currentTab == 'passedUser'">
			<table class="table table-striped cmp-table cmp-modal-roll-usertesttab">
				<thead>
					<tr>
						<th class="col-lg-2">用户名</th>
						<th class="col-lg-2">手机号</th>
						<th class="col-lg-4">邮寄地址</th>
						<th class="col-lg-2">评测内容</th>
						<th class="col-lg-2">打分</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in passList">
						<td>
							<span> {{item.signUser.userId[0].name}}</span>
						</td>
						<td>
							<span> {{item.signUser.phoneNumber}}</span>
						</td>
						<td>
							<span> {{item.signUser.address}}</span>
						</td>
						<td>
							<span> 暂无</span>
						</td>
						<td>
							<span> 暂无</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show = "currentTab == 'signUser'">
			<table class="table table-striped cmp-table cmp-modal-roll-usertesttab">
				<thead>
					<tr>
						<th class="col-lg-2">用户名</th>
						<th class="col-lg-2">手机号</th>
						<th class="col-lg-4">邮寄地址</th>
						<th class="col-lg-2">评测内容</th>
						<th class="col-lg-2">打分</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in signList">
						<td>
							<span> {{item.signUser.userId[0].name}}</span>
						</td>
						<td>
							<span> {{item.signUser.phoneNumber}}</span>
						</td>
						<td>
							<span> {{item.signUser.address}}</span>
						</td>
						<td>
							<span> 暂无</span>
						</td>
						<td>
							<span> 暂无</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
