<div class="company-basicInfo-div container-fluid cmp-box-shadow" ng-controller="CompanyBasicInfoController" ng-init = "isEdit=false" >
	<div class="panel panel-default cmp-box-shadow">
		<div class="panel-body ">
			<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label" >
					基本信息
				</label>
			</div>
			<div class="row cmp-form-row">
				<div class="col-md-7 col-md-offset-1 form-group">
					<form role="form" class="form-horizontal">
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								公司全称：
							</label>
							<label  class="control-label col-md-10 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.longName}}
							</label>
							<div class="col-md-10" ng-show="isEdit == true">
								<input type="text" class="form-control" ng-model="infoList.longName">
							</div>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								公司简称：
							</label>
							<label  class="control-label col-md-10 cmp-show-label" ng-show="isEdit == false">
								{{infoList.shortName}}
							</label>
							<div class="col-md-10" ng-show="isEdit == true">
								<input type="text" class="form-control" ng-model="infoList.shortName" >
							</div>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								公司地址：
							</label>
							<label  class="control-label col-md-4 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.province}}
							</label>
							<div class="col-md-4" ng-show="isEdit == true">
								<select class="form-control" type="text" ng-model="infoList.province" ng-options="province.name for ctype in provinceList"/>
							</div>
							<label  class="control-label cmp-after-label col-md-1">
								省
							</label>
							<label  class="control-label col-md-4 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.city}}
							</label>
							<div class="col-md-4" ng-show="isEdit == true">
								<select class="form-control" type="text" ng-model="infoList.city" ng-options="city.name for ctype in cityList"/>
							</div>
							<label  class="control-label cmp-after-label col-md-1">
								市
							</label>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								所属领域：
							</label>
							<label  class="control-label col-md-4 cmp-show-label" ng-show="isEdit == false" >
								{{ctype.name}}
							</label>
							<div class="col-md-4" ng-show="isEdit == true">
								<select class="form-control" type="text" ng-model="ctype" ng-options="ctype.name for ctype in ctypeList"/>
							</div>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								成立时间：
							</label>
							<label  class="control-label col-md-4 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.regTime}}
							</label>
							<div class="col-md-4" ng-show="isEdit == true">
								<input type="text" class="form-control"  id="form_datetime">
							</div>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								法人代表：
							</label>
							<label  class="control-label col-md-4 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.legalEntity}}
							</label>
							<div class="col-md-4" ng-show="isEdit == true">
								<input type="text" class="form-control" ng-model="infoList.legalEntity" >
							</div>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								注册资本：
							</label>
							<label  class="control-label col-md-4 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.regCapital}}
							</label>
							<div class="col-md-4" ng-show="isEdit == true">
								<input type="text" class="form-control" ng-model="infoList.regCapital" >
							</div>
							<label  class="control-label cmp-after-label col-md-1">
								万
							</label>
						</div>
						<div class="row cmp-input-row">
							<label  class="control-label col-md-2">
								注册地址：
							</label>
							<label  class="control-label col-md-10 cmp-show-label" ng-show="isEdit == false" >
								{{infoList.regAddress}}
							</label>
							<div class="col-md-10" ng-show="isEdit == true">
								<input type="text" class="form-control" ng-model="infoList.companyAdress" >
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 cmp-basic-logo-div">
					<div  class="cmp-logo-thumb cmp-box-shadow" ng-show="isEdit == false">
						<img src="{{infoList.logo}}" class="cmp-img-logo"/>	
					</div>
					<div  class="cmp-logo-thumb cmp-box-shadow" ng-show="isEdit == true">
						<label >
							<div  ngf-select="uploadLogo($file)" >点击上传logo</div>
						</label>
						<img ngf-src="fileLogo" class="cmp-img-logo"/>	
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="panel panel-default cmp-box-shadow" >
		<div class="panel-body">
			<div class="row cmp-first-row" >
				<label class="col-md-2 col-md-offset-1 cmp-title-label">
					认证信息
				</label>
			</div>
			<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<form role="form" class="form-horizontal">
						<div class="row cmp-input-row">
							<label class="col-md-3 ">
								注册人职位：
							</label>
							<label class="col-md-3 cmp-show-label">
								{{infoList.position}}
							</label>
						</div>   
					</form> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<form role="form" class="form-horizontal">
						<div class="row cmp-input-row">
							<label class="col-md-2 ">
								审核认证信息：
							</label>
						</div> 
						<div class=" col-md-3 cmp-reg-thumb" >
							<img src="{{imageSrc2}}"/>	
						</div>
						<div class=" col-md-3 cmp-reg-thumb" >
							<img src="{{imageSrc3}}"/>	
						</div> 
					</form>	   
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default cmp-box-shadow">
		<div class="panel-body">
			<div class="row cmp-first-row cmp-intro-row">
				<label class="col-md-2 col-md-offset-1 cmp-title-label">
					公司介绍
				</label>
			</div>
			<div class="row cmp-form-row">
				<div class="form-group" >
					<label class="col-md-2 control-label col-md-offset-1" >公司简介:</label>
					<label  ng-if="isEdit==false" class="col-md-7" > {{infoList.companyDesc}}</label>
					<div ng-if="isEdit==true" class="col-md-7" >
						<textarea class="form-control" rows="3" ng-model="infoList.companyDesc"> </textarea>
					</div>
				</div>
			</div>		
			<div class="row cmp-form-row">
				<div class="form-group">
					<label class="col-md-2 control-label col-md-offset-1" >产品与优势:</label>
					<label  ng-if="isEdit==false" class="col-md-7" > {{infoList.productDesc}}</label>
					<div ng-if="isEdit==true" class="col-md-7" >
						<textarea class="form-control" rows="3" ng-model="infoList.productDesc"></textarea>
					</div>
				</div>
			</div>	
			<div class="row cmp-form-row">		
				<div class="form-group" >
					<label class="col-md-2  col-md-offset-1 control-label">目标与用户:</label>
					<label  ng-if="isEdit==false" class="col-md-7"  > {{infoList.userDesc}}</label>
					<div ng-if="isEdit==true" class="col-md-7" >
						<textarea class="form-control" rows="3" ng-model="infoList.userDesc" ></textarea>
					</div>
				</div>
			</div>		

			<div class="row cmp-info-btn-row">
				<div ng-if="isEdit==false" class="col-md-9 col-md-offset-1">
					<button class="btn btn-default btn-block cmp-confirm-btn"  ng-click="startEdit(true)">
						编辑
					</button>
				</div>
				<div ng-if="isEdit==true" class="col-md-4 col-md-offset-1">
					<button class="btn btn-default btn-block cmp-confirm-btn"  ng-click="saveEdit(false)">
						保存
					</button>
				</div>
				<div ng-if="isEdit==true" class="col-md-4 col-md-offset-1">
					<button class="btn btn-default btn-block cmp-cancel-btn"  ng-click="cancelEdit(false)">
						取消
					</button>
				</div>
			</div> 
		</div>
	</div>
</div>
