.cmp-input-row{
	margin-top: 10px;
}

.cmp-input-row > label{
	font-size: 16px;
	font-weight: normal;
}
.cmp-input-row > span{
	font-size: 16px;
	font-weight: normal;
}

.cmp-form-row{
	margin-top: 10px;
}
.cmp-intro-row{
	margin-bottom: 20px;
}
.cmp-form-row > div >label{
	font-size: 16px;
	font-weight: normal;
}
.cmp-form-row > div >span{
	font-size: 16px;
	font-weight: normal;
}
.cmp-title-label{
	font-weight: bold;
}
.cmp-reg-thumb{
	height: 100px;
	width: 100px;
	overflow: hidden;
}
.cmp-logo-thumb{
	position: relative;
	border: 1px solid #888;
	height: 100px;
	width: 100px;
	overflow: hidden;
	text-align: center;
}
.cmp-logo-thumb > label > div{
	position: absolute;
	top:40px;
	left: 5px;
	z-index: 5;
}
.cmp-logo-thumb > label > img{
	position: absolute;
	top:0px;
	left: 0px;
}
.cmp-info-btn-row{
	margin-top: 50px;
	margin-bottom:30px;
}
.cmp-info-btn-row > div > button{
	background-color: #c74b36;
	color: #fff;
}