
.cmp-create{
	margin: auto;
	margin-bottom:24px; 
	width: 960px;
}
.cmp-create .row{
	margin: 0px;
}
.cmp-create-fir{
	height: 250px;
	margin-top: 16px;
	background-color: white;
	text-align: center;
	box-shadow: 0 0 7px rgba(0, 0, 0, .15);
	padding-left: 150px;
	padding-right:150px;
}
.cmp-create-fir h4{
	color: #830000;
}
.cmp-create-fir p{
	font-size: 13px;
	margin: 0px 0px 5px 0px;
	color: #B68E84;
}
.cmp-create label{
	font-size: 12px;
	font-weight: normal;
}
.cmp-create-fir .form-group{
	margin: 10px 0px 10px 0px;
}
.cmp-create-register{
	float: left;
	text-align: left;
	width: 50%;
}
.cmp-create-register input{
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
.cmp-create-register label{
	margin: 4px 0px 0px 0px ;
	padding: 10px 0px 0px 0px;
}
.cmp-create-sec{
	height: 374px;
	margin-top: 8px;
	background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    padding:22px 150px 20px 150px;
    text-align: left;
}
.cmp-create-sec .form-group{
	margin: 6px 0px 6px 0px;
}
.cmp-create-sec input{
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
.cmp-create-sec label{
	margin: 2px 0px 0px 0px ;
	padding: 10px 0px 0px 0px;
}
.cmp-create-sec .checkbox input{
	margin-left: 0px;
}
.cmp-create-sec .form_datetime{
	height: 30px;
	width: 100%;
	border-radius: 3px;
}
.cmp-create-prov .col-xs-4{
	padding: 0px;
}
.cmp-create-prov select{
	margin: 6px 0px 6px 0px;
}
.cmp-create-prov label{
	padding-left: 5px;
}
.cmp-create-pres .col-xs-4{
	padding: 0px;
}
.cmp-create-start .col-xs-4{
	padding: 0px;
}
.cmp-create-pres label{
	padding-left: 5px;
}
.cmp-create-intro{
	width: 504px;
	float: left;
}
.cmp-create-logo{
	width: 110px;
	height: 110px;
	border: solid 1px #CCC;
	border-radius:4px;
	text-align: center;
	float: left;
}
.cmp-create-logo p{
	font-size: 10px;
	color: #ccc;
	margin: 50px auto;
}
.cmp-create-logo img{
	width: 108px;
	height: 108px;
	border-radius:4px;
}
.cmp-create-thi{
	height: 526px;
	margin-top: 8px;
	background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    padding: 32px 150px 48px 150px;
}
.cmp-create-thi .form-group{
	margin: 10px 0px 10px 0px;
}
.cmp-create-thi .row{

}
.cmp-create-thi textarea{
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
.cmp-create-thi label{
	margin: 0px 0px 0px 0px ;
	padding: 10px 0px 0px 0px;
}
.cmp-create-commit button{
	margin-top: 20px; 
}
.cmp-innovation{
	margin-top: 24px;
	margin-bottom: 60px;
	box-shadow: 0 0 7px rgba(0, 0, 0, .15);
	padding: 28px 38px 22px 38px;
}